
$sm :640px;
$md : 768px;
$lg : 1024px;
$xl: 1280px;
$xxl: 1536px;
$primary: var(--primary);
$secondary: var(--secondary);
$secondary-white: var(--second-white);
$background: var(--background);
$second-white: var(--second-white);

